@import '_config.sass';

input:active,
input:focus,
input:focus-visible,
textarea:focus-visible {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
}
textarea {
  resize: none;
}
a, a:focus, a:active {
  outline: none;
}
a, a:hover {
  text-decoration: none;
}
button {
  cursor: pointer;
}
button, button:focus, button:active {
  outline: none;
}
img {
  border-style: none;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.clear-both {
  clear: both;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden-desktop {
  display: none;
}
.position-relative {
  position: relative;
}
.accentcolor {
  color: $accentcolor;
}

.header {
  .header-top {
    padding: 5px 0;
    background-color: $greycolor;
    color: #fff;
  }
  .header-top .logo-link {
    display: flex;
  }
  .header-top .logo img {
    width: 100%;
  }
  .header-top .flex-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  .header-top .header-phone {
    font-family: "roboto-condensed-medium";
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
    text-align: right;
  }
  .header-top .header-feedback-btn {
    display: block;
    height: 30px;
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: $bluecolor;
    font-family: 'roboto-condensed-medium';
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .3s;
  }
  .header-top .header-feedback-btn:hover {
    background-color: $bluehovercolor;
  }
  .header-top .cart {
    position: relative;
    width: 43px;
    height: 40px;
    margin: 0 auto;
  }
  .header-top .cart .counter {
    position: absolute;
    top: -2px;
    right: -8px;
    display: none;
    width: 22px;
    height: 22px;
    border-radius: 5px;
    background-color: $bluecolor;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
  }
  .header-top .cart .counter.active {
    display: block;
  }
  .header-bottom {
    padding: 11px 0;
  }
  .header-bottom .underlogo-text {
    font-family: 'roboto-condensed-light';
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  .header-bottom .flex-container {
    display: flex;
    height: 100%;
    align-items: flex-end;
  }
  .header-bottom .search-form {
    position: relative;
    width: 100%;
  }
  .header-bottom .search-input {
    width: 100%;
    padding: 0 40px 5px 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #B9B9B9;
    font-family: 'roboto-condensed-light';
    font-size: 20px;
    color: #000;
  }
  .header-bottom .search-submit-btn {
    position: absolute;
    top: 0;
    left: 5px;
    width: 25px;
    height: 25px;
    padding: 0;
    border: none;
    background-color: #fff;
  }
  .header-bottom .search-close {
    position: absolute;
    top: 0;
    right: 8px;
    width: 24px;
    height: 24px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: all .3s;
    z-index: 2;
  }
  .header-bottom .search-close-active {
    opacity: 1;
    visibility: visible;
  }
  .header-bottom .search-close::before,
  .header-bottom .search-close::after {
    content: '';
    position: absolute;
    top: 11px;
    left: 2px;
    width: 20px;
    height: 1px;
    background-color: $greycolor;
  }
  .header-bottom .search-close::before {
    transform: rotate(45deg);
  }
  .header-bottom .search-close::after {
    transform: rotate(-45deg);
  }
  .header-bottom .search-dropdown {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    padding: 10px 0 37px 0;
    border-radius: 0px 0px 10px 10px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: opacity .3s, visibility .3s;
  }
  .header-bottom .search-dropdown-active {
    opacity: 1;
    visibility: visible;
  }
  .header-bottom .search-dropdown .search-list-item {
    transition: background-color .3s;
  }
  .header-bottom .search-dropdown .search-list-item:hover {
    background-color: $accentcolortrans;
  }
  .header-bottom .search-dropdown .search-list-item__link {
    display: block;
    padding: 10px 40px;
    font-family: 'roboto-condensed-light';
    font-size: 20px;
    color: #000;
    line-height: 1.2;
  }
  .header-bottom .search-dropdown .search-see-all {
    display: block;
    width: 190px;
    height: 30px;
    margin: 30px 0 0 40px;
    border-radius: 5px;
    background-color: $bluecolor;
    font-family: 'roboto-condensed-medium';
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .3s;
  }
  .header-bottom .search-dropdown .search-see-all:hover {
    background-color: $bluehovercolor;
  }
  .header-bottom .header-bottom-item {
    position: relative;
    font-family: 'roboto-condensed-light';
    text-align: center;
  }
  .header-bottom .header-bottom-item__image {
    height: 27px;
  }
  .top-menu {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .top-menu .menu {
    text-align: center;
  }
  .top-menu .menu-item {
    display: inline-block;
    margin: 0 30px;
  }
  .top-menu .menu-item:first-child {
    margin-left: 0;
  }
  .top-menu .menu-item:last-child {
    margin-right: 0;
  }
  .top-menu .menu-item {
    border-bottom: 2px solid #fff;
    transition: border-bottom .3s;
  }
  .top-menu .menu-item:hover {
    border-bottom: 2px solid $accentcolor;
  }
  .top-menu .menu-item a {
    font-size: 24px;
    color: $textcolor;
    text-transform: uppercase;
    transition: color .3s;
  }
  .top-menu .menu-item:hover a {
    color: $accentcolor;
  }
}

.footer {
  padding: 37px 0;
  background-color: $greycolor;
  .logo {
    width: 200px;
    margin: 0 0 47px 0;
  }
  .logo img {
    width: 100%;
  }
  .footer-nav__title {
    margin: 0 0 25px 0;
    font-family: 'roboto-condensed-bold';
    font-size: 24px;
    color: #D9D9D9;
  }
  .footer-nav-item {
    margin: 0 0 20px 0;
  }
  .footer-nav-item__link {
    font-family: 'roboto-condensed-medium';
    font-size: 20px;
    color: #fff;
  }
  .footer-contacts-item {
    display: flex;
    height: 32px;
    align-items: center;
  }
  .footer-contacts-item__image {
    margin: 0 12px 0 0;
  }
  .footer-contacts-item__text {
    font-family: 'roboto-condensed-bold';
    font-size: 20px;
    color: #fff;
  }

  .to-top {
    position: fixed;
    right: 20px;
    bottom: 50px;
    z-index: 5;
    display: block;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: visibility .5s ease, opacity .5s ease;
  }
  
}


// modal
.modal-window {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  z-index: 100;
}
.modal-window.active {
  display: block;
}
.modal-window .modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 10px;
  padding: 0 12px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.modal-window .modal-wrapper.active {
  opacity: 1;
  visibility: visible;
}
.modal-window .modal-area {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  padding: 25px 90px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
.modal-window .modal-close {
  position: absolute;
  top: 35px;
  right: 28px;
  cursor: pointer;
}
.modal-window .close {
  position: relative;
  width: 21px;
  height: 21px;
  border-radius: 3px;
}
.modal-window .close:before,
.modal-window .close:after { 
  content: "";
  position: absolute;
  top: 0;
  left: 9px;
  width: 2px;
  height: 20px;
  border-radius: 2px;
  background-color: #A9A9A9;
  transition: background-color .3s;
}
.modal-window .close:before {
  transform: rotate(45deg);
}
.modal-window .close:after {
  transform: rotate(-45deg);
}
.modal-window .modal-title {
  margin: 0 0 20px 0;
  padding: 0 0 3px 0;
  font-family: 'roboto-condensed-medium';
  font-size: 30px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
.modal-window .form-group {
  margin: 0 0 15px 0;
}
.modal-window .label {
  display: block;
  font-size: 20px;
}
.modal-window .input-field {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid $bluecolor;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
}
.modal-window .required {
  border: 1px solid $accentcolor;
}
.modal-window .required::placeholder {
  color: $accentcolor;
}
.modal-window .required::-ms-input-placeholder {
  color: $accentcolor;
}
.modal-window .textarea {
  height: 70px;
}
.modal-window .checkbox-text {
  display: block;
}
.modal-window .privacy-policy-btn {
  color: $bluecolor;
}
.modal-window .submit-btn {
  display: block;
  width: 415px;
  height: 60px;
  margin: 30px auto 0 auto;
  border: none;
  font-family: "roboto-condensed-medium";
  font-size: 24px;
  color: #fff;
  border-radius: 10px;
  background-color: $bluecolor;
  text-transform: uppercase;
}
.modal-window .checkbox-wrapper {
  display: flex;
}
.modal-window .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.modal-window .custom-checkbox + .custom-checkbox-label {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin: 0 10px 0 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 60%;
  background-color: $accentcolor;
  flex-shrink: 0;
  cursor: pointer;
}
.modal-window .custom-checkbox:checked + .custom-checkbox-label {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.modal-window .custom-checkbox-label {
  display: block;
  margin-top: 20px;
}

/* we use cookie */
.messages-cookies {
	position: fixed;
  right: 25px;
	bottom: 47px;
	left: 0;
  max-width: 1296px;
  margin: 0 auto;
	z-index: 10;
}
.messages-cookies .messages-cookies-wrapper {
  display: flex;
  max-width: 1296px;
  padding: 34px;
  border-radius: 20px;
  background-color: #fff;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.messages-cookies .messages-cookies-text {
  padding: 0 50px 0 0;
  color: #000;
}
.messages-cookies .messages-cookies-close {
  display: block;
  width: 196px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: $bluecolor;
  border-radius: 5px;
  font-family: "roboto-condensed-medium";
  font-size: 16px; 
  color: #fff;
  flex-shrink: 0;
}


@media only screen and (max-width : 1400px) {
  .header {
    .header-top .header-phone {
      font-size: 19px;
    }
    .header-bottom .underlogo-text {
      font-size: 17px;
    }
    .top-menu .menu-item {
      margin: 0 25px;
    }
    .top-menu .menu-item a {
      font-size: 23px;
    }
  }
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {
  .hidden-mobile {
    display: none !important;
  }
  .hidden-desktop {
    display: block;
  }

}

@media only screen and (max-width : 575px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 360px) {

}