@import '_config.sass';

input:active,
input:focus,
input:focus-visible,
textarea:focus-visible {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
}
textarea {
  resize: none;
}
a, a:focus, a:active {
  outline: none;
}
a, a:hover {
  text-decoration: none;
}
button {
  cursor: pointer;
}
button, button:focus, button:active {
  outline: none;
}
img {
  border-style: none;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.clear-both {
  clear: both;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden-desktop {
  display: none;
}
.position-relative {
  position: relative;
}
.accentcolor {
  color: $accentcolor;
}
.section-title,
.page-title {
  margin: 0 0 30px 0;
  font-family: 'roboto-condensed-medium';
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
}


// primary btn
.primary-btn {
  display: block;
  padding: 0;
  border: none;
  background-color: $bluecolor;
  font-family: 'roboto-condensed-medium';
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .3s;
  &:hover {
    background-color: $bluehovercolor;
  }
}

// badge counter
.badge-counter {
  position: absolute;
  display: none;
  width: 22px;
  height: 22px;
  border-radius: 5px;
  background-color: $bluecolor;
  font-size: 15px;
  color: #fff;
  line-height: 1.5;
  text-align: center;
  &.active {
    display: block;
  }
}

// header
.header {
  .header-top {
    padding: 5px 0;
    background-color: $greycolor;
  }
  .header-top .logo-link {
    display: flex;
  }
  .header-top .logo img {
    width: 100%;
  }
  .header-top .flex-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  .header-top .header-phone {
    font-family: "roboto-condensed-medium";
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
    text-align: right;
  }
  .header-top .header-feedback-btn {
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
  }
  .header-top .cart {
    position: relative;
    width: 43px;
    height: 40px;
    margin: 0 auto;
  }
  .header-top .cart svg {
    fill: #fff;
    transition: fill .3s;
  }
  .header-top .cart:hover svg {
    fill: $accentcolor;
  }
  .header-top .badge-counter {
    top: -2px;
    right: -8px;
  }
  .header-bottom {
    padding: 11px 0;
  }
  .header-bottom .underlogo-text {
    font-family: 'roboto-condensed-light';
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  .header-bottom .flex-container {
    display: flex;
    height: 100%;
    align-items: flex-end;
  }
  .header-bottom .search-form {
    position: relative;
    width: 100%;
  }
  .header-bottom .search-input {
    width: 100%;
    padding: 0 40px 5px 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #B9B9B9;
    font-family: 'roboto-condensed-light';
    font-size: 20px;
    color: #000;
  }
  .header-bottom .search-submit-btn {
    position: absolute;
    top: 0;
    left: 5px;
    width: 25px;
    height: 25px;
    padding: 0;
    border: none;
    background-color: #fff;
  }
  .header-bottom .search-close {
    position: absolute;
    top: 0;
    right: 8px;
    width: 24px;
    height: 24px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: all .3s;
    z-index: 2;
  }
  .header-bottom .search-close-active {
    opacity: 1;
    visibility: visible;
  }
  .header-bottom .search-close::before,
  .header-bottom .search-close::after {
    content: '';
    position: absolute;
    top: 11px;
    left: 2px;
    width: 18px;
    height: 2px;
    background-color: $greycolor;
  }
  .header-bottom .search-close::before {
    transform: rotate(45deg);
  }
  .header-bottom .search-close::after {
    transform: rotate(-45deg);
  }
  .header-bottom .search-dropdown {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    border-radius: 0px 0px 10px 10px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: opacity .3s, visibility .3s;
  }
  .header-bottom .search-dropdown-active {
    opacity: 1;
    visibility: visible;
  }
  .header-bottom .search-dropdown .search-list-item {
    transition: background-color .3s;
  }
  .header-bottom .search-dropdown .search-list-item:hover {
    background-color: $lightaccentcolor;
  }
  .header-bottom .search-dropdown .search-list-item__link {
    display: block;
    padding: 10px 40px;
    font-family: 'roboto-condensed-light';
    font-size: 20px;
    color: #000;
    line-height: 1.2;
  }
  .header-bottom .search-dropdown .search-see-all-btn {
    width: 190px;
    height: 30px;
    margin: 15px 0 15px 40px;
    border-radius: 5px;
    font-size: 20px;
  }
  .header-bottom .search-dropdown .no-product {
    margin: 0 0 0 40px;
  }
  .header-bottom .header-bottom-item {
    position: relative;
    font-family: 'roboto-condensed-light';
    text-align: center;
  }
  .header-bottom .header-bottom-item__image {
    height: 27px;
  }
  .header-bottom .header-bottom-item__image svg {
    fill: $greycolor;
    transition: fill .3s;
  }
  .header-bottom .header-bottom-item:hover .header-bottom-item__image svg {
    fill: $accentcolor;
  }
  .header-bottom .header-bottom-item__text {
    transition: color .3s;
  }
  .header-bottom .header-bottom-item:hover .header-bottom-item__text {
    color: $accentcolor;
  }
  .header-bottom .badge-counter {
    top: -9px;
    right: 10px;
  }
  .top-menu {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .top-menu .menu {
    text-align: center;
  }
  .top-menu .menu-item {
    display: inline-block;
    margin: 0 30px;
  }
  .top-menu .menu-item:first-child {
    margin-left: 0;
  }
  .top-menu .menu-item:last-child {
    margin-right: 0;
  }
  .top-menu .menu-item {
    border-bottom: 2px solid #fff;
    transition: border-bottom .3s;
  }
  .top-menu .menu-item:hover {
    border-bottom: 2px solid $accentcolor;
  }
  .top-menu .menu-item a {
    font-size: 24px;
    color: $textcolor;
    text-transform: uppercase;
    transition: color .3s;
  }
  .top-menu .menu-item:hover a {
    color: $accentcolor;
  }
}

// special offer section
.special-offer-section {
  padding: 40px 0;
  background-color: $lightgreycolor;
  .section-title {
    color: $textcolor;
  }
  .special-offer-products {
    margin: 0 0 20px 0;
  }
  .product-item {
    position: relative;
    margin: 0 0 20px 0;
    padding: 36px 55px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    transition: all .3s;
  }
  .product-item:hover {
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .product-item__image {
    margin: 0 0 9% 0;
  }
  .product-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .product-item__title {
    display: block;
    height: 50px;
    margin: 0 0 5px 0;
    font-family: 'roboto-condensed-medium';
    font-size: 20px;
    color: $textcolor;
    line-height: 1.1;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: color .3s;
  }
  .product-item__title:hover {
    color: $accentcolor;
  }
  .product-item__price {
    margin: 0 0 13px 0;
    font-family: 'roboto-condensed-bold';
    font-size: 30px;
    color: #000;
    line-height: 1.2;
    text-align: center;
  }
  .product-item__label {
    position: absolute;
    left: -1px;
    top: 24px;
    width: 67px;
    height: 25px;
    background-color: $accentcolor;
  }
  .product-item__label:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 12px solid transparent;
    border-right: 12px solid #fff;
  }
  .product-item__label .product-item__label-text {
    padding: 0 0 0 12px;
    font-family: 'roboto-condensed-bold';
    font-size: 20px;
    color: #fff;
    line-height: 1.3;
    text-transform: uppercase;
  }
  .product-item-favourites {
    position: absolute;
    top: 14px;
    right: 48px;
    width: 22px;
    height: 20px;
    cursor: pointer;
  }
  .product-item-favourites svg {
    stroke: $greycolor;
    fill: #fff;
    transition: stroke .3s, fill .3s;
  }
  .product-item-favourites:hover svg {
    stroke: $accentcolor;
    fill: $accentcolor;
  }
  .product-item-comparison {
    position: absolute;
    top: 14px;
    right: 20px;
    width: 17px;
    height: 20px;
    cursor: pointer;
  }
  .product-item-comparison svg {
    stroke: $greycolor;
    fill: #fff;
    transition: stroke .3s, fill .3s;
  }
  .product-item-comparison:hover svg {
    stroke: $accentcolor;
    fill: $accentcolor;
  }
  .add-to-cart-btn {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    font-family: 'roboto-condensed-medium';
  }
  .see-all-btn {
    width: 255px;
    height: 45px;
    margin: 0 auto;
    padding: 7px 0;
    border-radius: 10px;
    font-size: 20px;
  }
}

// how to order section
.how-to-order-section {
  padding: 40px 0 0 0;
  .how-to-order-top {
    margin: 0 0 55px 0;
    padding: 24px 35px 30px 35px;
    border-radius: 10px 10px 0px 0px;
    background: linear-gradient(180deg, #64B4E5 0%, #86C9C0 100%);
    color: #fff;
    line-height: 1.2;
  }
  .how-to-order-top__title {
    margin: 0 0 30px 0;
    font-family: 'roboto-condensed-medium';
    font-size: 30px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.50);
  }
  .how-to-order-top-items {
    display: flex;
    justify-content: space-between;
  }
  .how-to-order-top-item {
    display: flex;
  }
  .how-to-order-top-item__image {
    margin: 0 25px 0 0;
  }
  .how-to-order-top-item__content {
    padding: 0 15px 0 0;
  }
  .how-to-order-top-item__title {
    font-family: 'roboto-condensed-bold';
    font-size: 24px;
  }
  .how-to-order-top-item__text {
    font-family: 'roboto-condensed-medium';
    font-size: 20px;
  }
  .how-to-order-bottom-item {
    display: flex;
    margin: 0 0 40px 0;
  }
  .how-to-order-bottom-item__image {
    margin: 0 25px 0 0;
  }
  .how-to-order-bottom-line {
    width: 2px;
    margin: 0 32px 0 0;
    background-color: $greycolor;
    flex-shrink: 0;
  }
  .how-to-order-bottom-item__title {
    margin: 0 0 10px 0;
    font-family: 'roboto-condensed-medium';
    font-size: 24px;
  }
  .how-to-order-bottom-item__text {
    font-size: 20px;
  }
  .how-to-order-bottom-item__description {
    display: flex;
    max-width: 525px;
    margin: 23px 0 0 0;
    padding: 18px;
    border: 1px solid $bluecolor;
    border-radius: 10px;
    font-size: 20px;
    line-height: 1.2;
  }
  .how-to-order-bottom-item__description .image {
    margin: 0 12px 0 0;
  }
  .how-to-order-bottom-item__description .title {
    margin: 0 0 10px 0;
    font-family: 'roboto-condensed-bold';
  }


}

// contacts
.contacts {
  font-size: 20px;
  .contacts-item {
    margin: 0 0 45px 0;
  }
  .contacts-text {
    margin: 0 0 10px 0;
  }
  .contacts-text .text-bold {
    font-family: 'roboto-condensed-bold';
  }
  .contacts-text a {
    color: $bluecolor;
    text-decoration: underline;
  }
}

// footer
.footer {
  margin: 80px 0 0 0;
  padding: 37px 0;
  background-color: $greycolor;
  .logo {
    width: 200px;
    margin: 0 0 47px 0;
  }
  .logo img {
    width: 100%;
  }
  .footer-nav {
    margin: 0 0 50px 0;
  }
  .footer-nav__title {
    margin: 0 0 25px 0;
    font-family: 'roboto-condensed-bold';
    font-size: 24px;
    color: #D9D9D9;
  }
  .footer-nav-item {
    margin: 0 0 20px 0;
  }
  .footer-nav-item__link {
    font-family: 'roboto-condensed-medium';
    font-size: 20px;
    color: #fff;
  }
  .footer-contacts-item {
    display: flex;
    height: 32px;
    align-items: center;
  }
  .footer-contacts-item__image {
    margin: 0 12px 0 0;
  }
  .footer-contacts-item__text {
    font-family: 'roboto-condensed-bold';
    font-size: 20px;
    color: #fff;
  }
  .footer-link a {
    font-size: 20px;
    color: #fff;
  }
  .footer-image {
    position: relative;
  }
  .footer-image img {
    position: absolute;
    top: -200px;
    left: -50px;
  }
  
}

// to top
.to-top {
  position: fixed;
  left: 153px;
  bottom: 80px;
  display: block;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  cursor: pointer;
  transition: visibility .5s, opacity .5s;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  .circle {
    position: relative;
    width: 65px;
    height: 65px;
    background-color: $accentcolor;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .circle:before,
  .circle:after {
    content: '';
    position: absolute;
    top: 30px;
    width: 25px;
    height: 3px;
    background-color: #fff;
  }
  .circle:before {
    left: 12px;
    transform: rotate(-45deg);
  }
  .circle:after {
    left: 28px;
    transform: rotate(45deg);
  }
}

// modal
.modal-window {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  z-index: 100;
  &.active {
    display: block;
  }
  .modal-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 10px;
    padding: 0 12px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
  }
  .modal-wrapper.active {
    opacity: 1;
    visibility: visible;
  }
  .modal-area {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    padding: 25px 90px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  }
  .modal-close {
    position: absolute;
    top: 35px;
    right: 28px;
    cursor: pointer;
  }
  .close {
    position: relative;
    width: 21px;
    height: 21px;
    border-radius: 3px;
  }
  .close:before,
  .close:after { 
    content: "";
    position: absolute;
    top: 0;
    left: 9px;
    width: 2px;
    height: 20px;
    border-radius: 2px;
    background-color: #A9A9A9;
    transition: background-color .3s;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .modal-title {
    margin: 0 0 20px 0;
    padding: 0 0 3px 0;
    font-family: 'roboto-condensed-medium';
    font-size: 30px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
  }
  .form-group {
    margin: 0 0 15px 0;
  }
  .label {
    display: block;
    font-size: 20px;
  }
  .input-field {
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid $bluecolor;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
  }
  .required {
    border: 1px solid $accentcolor;
  }
  .required::placeholder {
    color: $accentcolor;
  }
  .required::-ms-input-placeholder {
    color: $accentcolor;
  }
  .textarea {
    height: 70px;
  }
  .checkbox-text {
    display: block;
  }
  .privacy-policy-link {
    color: $bluecolor;
  }
  .submit-btn {
    width: 415px;
    height: 60px;
    margin: 30px auto 0 auto;
    font-size: 24px;
    border-radius: 10px;
  }
  .checkbox-wrapper {
    display: flex;
  }
  .custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-checkbox + .custom-checkbox-label {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin: 0 10px 0 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 60%;
    background-color: $accentcolor;
    flex-shrink: 0;
    cursor: pointer;
  }
  .custom-checkbox:checked + .custom-checkbox-label {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  .custom-checkbox-label {
    display: block;
    margin-top: 20px;
  }
}

// we use cookie
.we-use-cookie {
	position: fixed;
  right: 25px;
	bottom: 47px;
	left: 0;
  max-width: 1296px;
  margin: 0 auto;
	z-index: 10;
  .we-use-cookie-wrapper {
    display: flex;
    max-width: 1296px;
    padding: 34px;
    border-radius: 20px;
    background-color: #fff;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .we-use-cookie-text {
    padding: 0 50px 0 0;
    color: #000;
  }
  .we-use-cookie-close {
    width: 196px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px; 
    flex-shrink: 0;
  }
}

// breadcrumbs
.breadcrumbs {
  font-size: 14px;
  .parent,
  .arrow,
  .active {
    display: inline-block;
  }
  .parent a {
    color: $textcolor;
  }
}



@media only screen and (max-width : 1400px) {
  .header {
    .header-top .header-phone {
      font-size: 19px;
    }
    .header-bottom .underlogo-text {
      font-size: 17px;
    }
    .top-menu .menu-item {
      margin: 0 25px;
    }
    .top-menu .menu-item a {
      font-size: 23px;
    }
  }

  .special-offer-section {
    .product-item {
      padding: 30px 45px;
    }
  }
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {
  .hidden-mobile {
    display: none !important;
  }
  .hidden-desktop {
    display: block;
  }

}

@media only screen and (max-width : 575px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 360px) {

}